.Login {
    text-align: center;
}
  
  
  
  @media (prefers-reduced-motion: no-preference){
    .App-logo {
      animation: float infinite 5s linear;
    }
  }
  
  p{
    color: black;
  }

  .Login {
    background-color: #edebd9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  @keyframes float {
      0% {
          transform: translatey(0px);
      }
      50% {
          transform: translatey(-20px);
      }
      100% {
          transform: translatey(0px);
      }
  }