.App {
    text-align: center;
  }
  
  

  .googleLogin {
    background-color:#edf2f4;
    height: 150px;
    padding: 20px;
    color: #2b2d42;
  }
  
  .googleLogin {
    font-size: 1.5em;
  }
  
  .googleLogin {
    font-size: large;
  }
  
