/* This is css styling for the ticket container component */
.tickercontainer-container{
    max-width: 100%;
    align-content: center;
    text-align: center; 
    justify-content: center;
    overflow-x: scroll;
}
