
html{
  

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2b2d42;
}
.Login-Modal-Container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: hidden;
}

.Login-Modal {
  position: absolute;;
  max-width: 300px;
  background-color: #edf2f4;
  text-align: center;
  border-radius: 1em;
  border: 2px solid #2b2d42;
  padding: 20px;
  opacity: .8;
}

.Login-Header {
  position: relative;
  top: 20%;
}
.Login-Container {
  position: relative;
  top: 20%;
}

.App-logo {
  position: relative;
  width: 25%;
  height: 25%;
  pointer-events: none;
}

#CopyRight {
  float: left;
}
#Footer-Nav-Link {
  float: right;
}
.Footer-Link {
  padding: 1em;
}
.Footer-Container {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: #edf2f4;
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: float infinite 5s linear;
  }
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.menuItem-edit button {
  width: 625px;
  border: 0;
  padding: 10px;
  line-height: 1;
  font-size: 1rem;
  border: 0;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background: #fff;
}

.menuItem-edit input:last-of-type {
  width: 625px;
}
.menuItem-edit textarea {
  display: block;
  height: 3rem;
  width: 603px;
  overflow: auto;
  padding: 10px;
  line-height: 1;
  font-size: 1rem;
  border: 0;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background: #fff;
}

.menuItem-edit input:focus,
.menuItem-edit textarea:focus,
.menuItem-edit select:focus {
  outline: 0;
  background: #edf2f4;
}

.menuItem-edit input,
.menuItem-edit select
{
  width: 33.33%;
  padding: 10px;
  line-height: 1;
  font-size: 1rem;
  border: 0;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background: #fff;
}

.menuItem-edit {
  margin: 20px;
}

#add-button {
  width: 25%;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 1;
  font-size: 1rem;
  border: 0;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background: #fff;
  display: block;
}

#menuName,
#category-name {
  width: 50%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 1rem;
  border: 0;
}

#save-button,
#save-close-button,
#cancel-button {
  width: 25%;
  margin: 10px;
  padding: 10px;
  line-height: 1;
  font-size: 1rem;
  border: 0;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background: #fff;
  display: inline-block;
}